*.pyc
/.mxmake/
/bin/
/build/
/bundle/
/constraints-mxdev.txt
/dist/
/docs/html/
/include/
/karma/
/lib/
/lib64
/node_modules/
/package-lock.json
/pyvenv.cfg
/requirements-mxdev.txt
/share/
/treibstoff-*.tgz
/treibstoff.egg-info/
/venv/
