*.pyc
/bin/
/dist/
/docs/
/include/
/karma/
/lib/
/lib64
/node_modules/
/share/
/treibstoff/
/treibstoff.egg-info/
/pyvenv.cfg
/rollup.conf.js
/rollup.sh
/karma.conf.js
/karms.sh
/build_docs.sh
/MANIFEST.in
/setup.py
/TODO.rst
/watch.sh
