*.pyc
/bin/
/build/
/dist/
/docs/
/include/
/karma/
/lib/
/lib64
/MANIFEST.in
/node_modules/
/pyvenv.cfg
/rollup.conf.js
/scripts/
/setup.py
/share/
/TODO.rst
/treibstoff-*.tgz
/treibstoff.egg-info/
/treibstoff/
