*.pyc
/.github/
/.mxmake/
/.readthedocs.yaml
/MANIFEST.in
/Makefile
/TODO.rst
/bin/
/build/
/dist/
/docs/
/include/
/karma/
/lib/
/lib64
/mx.ini
/node_modules/
/pyvenv.cfg
/requirements-mxdev.txt
/rollup.conf.js
/scripts/
/setup.cfg
/setup.py
/share/
/treibstoff-*.tgz
/treibstoff.egg-info/
/treibstoff/
/venv/