#t-loading-spinner {
    position:fixed;
    z-index:10000;
    background-position: center center;
    top:50%;
    left:50%;
    margin-top:-32px;
    margin-left:-32px;
}
.modal-footer:empty {
    display: none;
}
.modal.info .modal-body,
.modal.warning .modal-body,
.modal.error .modal-body,
.modal.dialog .modal-body {
    padding-left:14px;
    min-height:80px;
}
.modal.info .modal-body:before,
.modal.warning .modal-body:before,
.modal.error .modal-body:before,
.modal.dialog .modal-body:before {
    font-family: 'bootstrap-icons'!important;
    font-size: 40px;
    line-height: 40px;
    float: left;
    margin-right: 1rem;
}
.modal.info .modal-body:before {
    content:"\F430";
    color: var(--bs-cyan);
}
.modal.warning .modal-body:before {
    content:"\F46C";
    color: var(--bs-orange);
}
.modal.error .modal-body:before {
    content:"\F33A";
    color: var(--bs-red);
}
.modal.dialog .modal-body:before {
    content:"\F505";
    color: var(--bs-secondary);
}
