dl.js dl.field-list {
    display: block;
}
dl.js dl.field-list dt {
    padding-bottom: 8px;
}
dl.js dl.field-list dt,
dl.js dl.field-list dd {
    padding-left: 0;
    padding-right: 0;
}
dl.js.class {
    margin-bottom: 30px;
}
dl.js.class > dt {
    font-size: 130%;
    margin-bottom: 10px;
}
dl.js.class > dd {
    margin-left: 0;
}
dl.js.function {
    margin-bottom: 30px;
}
dl.js.function > dt {
    font-size: 110%;
    margin-bottom: 8px;
}
